.secrets
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform/*-config
terraform/.terraform/
*.tfvars
!terraform.tfvars.example
crash.log
crash.*.log
node_modules/
*.tgz
.DS_Store
